@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg--gris: #6b6b6b;
  --bg--guinda: #6d000e;  
  --bg--guinda--hover: rgb(163,0,20);
  --bg--blanco: #ffffff;
  --bg--grisTrans: rgba(255, 255, 255, 0.92);
  --txt--grisOscuro: #333333;
  --txt--blanco: #ffffff;
  
  --border--gris: #797979;
  --bgbtn--search: #7f8c8d;
  --txt--filter:#818d8e;
  --bg--tab--blanco: #ffffff;
  --bg--tab--gris: #f2f2f2;
  --bg--tab--grisOscuro:#aaaaaa;
  --bg--tab--hover: rgb(245, 177, 86);
  --border--tabThead:#d7d7d7;
  --txt--NuevaOferta: #02a7f0;
  --txt--Aceptada: #70b603;
  --txt--EnProceso: #f59a23;
  --txt--Rechazada: #d9001b;

  --footer--bg--gris: rgba(242, 243, 244, 0.92);
  --footer--acerca: #071e33;
  --footer--txt: #7f7f7f;
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('assets/img/imagen_main.jpg');
    background-attachment: fixed;
    background-size:cover;
}

header{
    width: 1024px;
    margin: 0px auto;
}
#header--encabezado{
    min-height: 82px;
    background-color: var(--bg--blanco);
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    padding-left: 53px;
    padding-right: 53px;
}

#header--titulo{
    width: 706px;
    height: 32px;
    background-color: var(--bg--blanco);
    box-sizing: border-box;
    font-family: 'Poppins-Regular', 'Poppins', sans-serif;
    color: var( --txt--grisOscuro);
    text-align: left;
    line-height: normal;
    font-size: 24px;
}

#header--img1{
    width: 75px;
    height: 73px;
}

#header--img2{
    width: 75px;
    height: 73px;
}

#header__div--menu{
    height: 32px;
    background-color: var(--bg--gris);
    display: flex;
    justify-content: space-around;
}

.lista{
    width: 91%;
}

.circulos{
    width: 9%;
    display: flex;
    align-items: center;
}

#header__div--menu ul{
    height: 100%;
    width: 100%;
    list-style: none;
    display:flex;
    justify-content:flex-start;
}

#header__div--menu ul li{
    max-width: 30%;
    min-width: 12%;
    padding: 0px 10px;
    font-size: 14px;
    font-family: 'Raleway-Regular', 'Raleway', sans-serif;
}

#header__div--menu ul a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--txt--blanco);
}

#header__div--menu ul li:hover {
    background-color: var(--bg--guinda--hover);
}

.header__menu--icons{
    display: flex;
}

.header__menu--icons img{
    width: 16px;
    margin-left: 6px;
}



#contenido{
    width: 1024px;
    background-color: var(--bg--grisTrans);
    font-family: 'Raleway', sans-serif;
    color: var(--txt--grisOscuro);
    text-align: left;
    line-height: normal;
    margin: 10px auto;
    padding: 10px 0px;
}

#filtro{;
    display: flex;
    justify-content: center;
}

.buscador{
    width: 232px;
    height: 32px;
    font-size: 12px;
    display: flex;
    justify-content:flex-end;
    margin-right: 31px;
}

.buscador input{
    width: 300px;
    padding-left: 15px;
    border: 1px solid var(--border--gris);
    border-radius: 4px 0px 0px 4px;
    font-family: 'Raleway', sans-serif;
}

.buscador button{
    background: var(--bgbtn--search);
    border: 1px solid var(--border--gris);
    border-radius: 0px 4px 4px 0px;
    width: 50px;
    cursor: pointer;
}

.lista--filtro{
    width: 232px;
    min-height: 32px;
    border: 1px solid var(--border--gris);
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Montserrat-Regular', 'Montserrat', sans-serif;
    color: var(--txt--filter);
}


#section--tabla table{
    width: 800px;
    margin: 10px auto;
    border-collapse: collapse;
    font-family: 'Poppins-Regular', 'Poppins', sans-serif;
}

thead tr:last-child {
    border-right: 1px solid var(--border--tabThead);
    border-bottom: 1px solid var(--border--tabThead);
}


.thead--guinda{
    background-color: var(--bg--guinda);
    color:var(--txt--blanco);
}
.thead--gris{
    background-color: var(--bg--tab--grisOscuro);
    color:var(--txt--blanco);
    text-align:left;
}
.thead--gris2{
    background-color: var(--bg--tab--gris);
}
table th{
    height: 32px;
    font-size: 13px;
    padding-left: 5px;
    text-align: center;
    font-weight:normal;
}


tbody:before {
    line-height:1em; 
    content:"\200C"; 
    display:block;
}

tbody tr{
    border-bottom: 1px solid var(--bg--tab--grisOscuro);
    height: 32px;
    background-color: var(--bg--tab--blanco);
}

tbody td{
    font-size: 10px;
    padding-left: 5px;
}

tbody td:nth-child(4),td:nth-child(5){
    text-align: center;
    background-color: var(--bg--tab--gris);
}

tbody tr:hover, tr:hover td:nth-child(4), tr:hover td:nth-child(5){
    background-color: var(--bg--tab--hover);
}


.contenido--navegar{
    width: 400px;
    background: var(--bg--gris);
    font-family: 'Montserrat-Regular', 'Montserrat', sans-serif;
    font-size: 9px;
    margin: 0px auto;
}

.contenido--navegar ul{
    height: 22px;
    list-style: none;
    display: flex;
    text-align: center;
}

.contenido--navegar li{
    height: 100%;
    flex-grow: 1;
}

.contenido--navegar li:hover {
    background: var(--bg--guinda--hover);
}

.contenido--navegar li a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: block;
    color: var(--txt--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    max-width: 1024px;
    min-height: 58px;
    background-color: var(--footer--bg--gris);
    font-family: 'Raleway-Regular', 'Raleway', sans-serif;
    color: var(--footer--txt);
    text-align: center;
    line-height: normal;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
}

footer img{
    max-width: 100px;
    min-height: 29px;
    margin-left: 42px;

}

#menu-info-acercade{
    width: 279px;
    height: 16px;
    margin-left: 12px;
    font-size: 12px;

}

#menu-info-acercade ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

#menu-info-acercade a{
    display: block;
    text-decoration: none;
    color: var(--footer--acerca);
}

#footer--texto{
    display: flex;
    flex-direction: row;
    font-size: 10px;
}

#footer--texto1{
    text-align: left;
    margin-left: 20px;
} 

#footer-texto2{
    margin-left: 50px;
    text-align: left;
}

#footer--texto p{
    margin-top: 3px;
}
