@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

:root {
  /*LOGIN*/
  --color-bloque-login: #f3f4f4;
  --color-bloque-header: #071e33;
  --title-login: #000000;
  --texto-opc1: #d8d8d8;
  --texto-opc2: #ffffff;
  --texto-opc3: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("./assets/img/normal_u25.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

 header {
  position: relative;
  display: flex;
  align-self: start;
  justify-content: center;
  width: 1024px;
  height: 82px;
  text-align: center;
  background-color: var(--texto-opc2);
  margin: 0 auto;
}

.header--title {
  text-align: center;
  font-family: 'Poppins-Regular', 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #333333
  margin-top:100%;
  margin: 24px 0px 10px 10px;


}
.header--img1{
  width: 75px;
  height: 73px;
  margin-left: 10px;
  margin: 4px 40px 0px 0px;
}

.header--img2{
  width:75px; 
  height:73px;
  margin-right: 10px;
  margin: 4px 0px 0px 40px;
}

.icon-profile{
  display: flex;
  width: 16px;
  height: 16px;
}


.header--div0-img {
  border-width: 0px;
  position: absolute;
  left: 10px;
  top: 17px;
  width: 75px;
  height: 73px;
  display: flex;
}

.header--div1-img {
  border-width: 0px;
  position: absolute;
  left: 98px;
  top: 10px;
  width: 63px;
  height: 63px;
  display: flex;
}

.header--div2-img {
  border-width: 0px;
  position: absolute;
  left: 194px;
  top: 10px;
  width: 52px;
  height: 63px;
  display: flex;
}

.header--div3-img {
  border-width: 0px;
  position: absolute;
  left: 277px;
  top: 11px;
  width: 63px;
  height: 62px;
  display: flex;
}

.header--div4-img {
  border-width: 0px;
  position: absolute;
  left: 371px;
  top: 10px;
  width: 54px;
  height: 63px;
  display: flex;
}

.header--div5-img {
  border-width: 0px;
  position: absolute;
  left: 457px;
  top: 8px;
  width: 63px;
  height: 65px;
  display: flex;
}

.header--div6-img {
  border-width: 0px;
  position: absolute;
  left: 551px;
  top: 10px;
  width: 54px;
  height: 63px;
  display: flex;
}

.header--div7-img {
  border-width: 0px;
  position: absolute;
  left: 637px;
  top: 10px;
  width: 60px;
  height: 63px;
  display: flex;
}

.header--div8-img {
  border-width: 0px;
  position: absolute;
  left: 728px;
  top: 10px;
  width: 41px;
  height: 63px;
  display: flex;
}

.header--div9-img {
  border-width: 0px;
  position: absolute;
  left: 801px;
  top: 10px;
  width: 51px;
  height: 63px;
  display: flex;
}

.header--div10-img {
  border-width: 0px;
  position: absolute;
  left: 883px;
  top: 10px;
  width: 42px;
  height: 63px;
  display: flex;
}

.header--div11-img {
    border-width: 0px;
    position: absolute;
    left: 855px;
    top: 11px;
    width: 75px;
    height: 75px;
    display: flex;
}

.main--title p {
  text-align: center;
  font-family: "Poppins-Regular", "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px; /*1rem = 10 px*/
  color: var(--title-login);
  margin-top: 30px;
  margin-bottom: 10px;
}

.main--section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
  align-items: center;
}

.main-body {
  position: relative;
  display: flex;
  justify-content: center;
  width: 512px;
  height: 500px;
  text-align: center;
  background-color: var(--color-bloque-login);
  margin: none;
}

.main-img {
  position: relative;
  align-self: flex-start;
  width: 1024px;
  height: 507px;
  margin: none;
}

.tex {
  display: flex;
  margin-left: 90px;
  margin-top: 5px;
  width: auto;
  height: auto;
}

.main-container img {
  width: 139px;
  height: 300px;
  margin-top: 15px;
  margin-bottom: 253px;
}

.main-form {
  position: absolute;
  margin-top: 130px;
  width: 405px;
}

.main-form--Label1 {
  width: 116px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Poppins-Regular", "Poppins", sans-serif;
  color: #071e33;
  text-align: left;
  line-height: normal;
  font-size: 1.3rem;
}

.main-form--Label2 {
  width: 122px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Poppins-Light", "Poppins Light", "Poppins", sans-serif;
  color: #071e33;
  text-align: left;
  line-height: normal;
  font-weight: 200px;
  font-size: 1.3rem;
  float: right;
}
.main-form--Label3 {
  width: 530px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Poppins-Regular", "Poppins", sans-serif;
  color: #333333;
  text-align: center;
  line-height: normal;
  font-size: 1rem;
}

.main-form--Label4 {
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Poppins-Light", "Poppins Light", "Poppins", sans-serif;
  color: #071e33;
  text-align: left;
  line-height: normal;
  font-weight: 200px;
  font-size: 1.3rem;
  float: right;
}

.main-form input {
  width: 400px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #071e33;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Raleway-Light", "Raleway Light", "Raleway", sans-serif;
  font-weight: 200;
  color: #7f8c9d;
  text-align: left;
}

.main-form select {
  width: 400px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #071e33;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Raleway-Light", "Raleway Light", "Raleway", sans-serif;
  font-weight: 200;
  color: #071e33;
}

.Container--button {
  display: flex;
  justify-content: space-between;
}

.main-form button {
  width: 160px;
  height: 32px;
  border-radius: 4px;
  background-color: #071e33;
  box-sizing: border-box;
  font-family: "Raleway-Regular", "Raleway", sans-serif;
  color: #ffffff;
  text-align: center;
  line-height: normal;
}

.main--back {
    
    width: 1024px;
    height: 507px;
    background-color: white;
    opacity: 0.93;
	margin-top: 0px;
    margin-left: 0px;
    top: 25px;
    left: -50px;

}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6b6b6b;
    width:  1024px;
    height: 32px;

}

li {
    float: left;
}


ul li a:hover {
    background-color: rgb(163,0,20); ;
}

ul.menu li.active {
    background-color: #6d000e;
    
}




.texto-menu {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: 'Raleway-Regular', 'Raleway', sans-serif;
    font-size: 14px;
    color: #f2f2f2;
    text-align: left;
    line-height: normal;
}

.icon--profile{
 display: flex;
  width: 16px;
  height: 16px;

}

.icon{
   display: flex;
    float: right;
  padding: 10px 12px 0px 0px;
    width: 16px;
  height: 16px;

}

.item-r{
  float: right;
  padding: 14px 14px;
   
}


}
.item-nav{
  float: center;
    padding: 10px 5px;
 
}

.form-navbar{
 list-style-type: none;
    overflow: hidden;
    width:  1024px;
    height: 50px;
  background-color: rgba(242, 243, 244, 0.72)

    }



.form-navbar1{
    display: block;
    text-align: center;
    padding: 15px 10px 15px 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Raleway-Regular', 'Raleway', sans-serif;
    font-size: 12px;
    color: #6d000e;
    text-align: center;
    line-height: normal;
}

.form-navbar2{
    display: block;
    text-align: center;
    padding: 15px 10px 15px 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Raleway-Regular', 'Raleway', sans-serif;
    font-size: 12px;
    color: #6b6b6b;
    text-align: center;
    line-height: normal;
}

.texto-busqueda{
  width: 250px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  border: 1px solid #797979;
  background-color: #ffffff solid;
  box-sizing: border-box;
  font-family: 'Arial Regular', 'Arial', sans-serif;
  font-size: 12px;
  text-align: left;
  line-height: normal;
  margin: 5px -6px 1px 0px;
}

.btn-btn-warning{
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: #7f8c8d;
  box-sizing: border-box;
  text-align: center;
  line-height: normal;
  margin:4px 0px 0px 0px;
  cursor: pointer;
}

.linea {
  border-top: 1px solid #333;
  height: 0px;
  width: 1024px;
  max-width: 2000px;
  padding: 0;
  margin: 0px auto 0 auto;
}

table {
  font-family: 'Raleway-Regular', 'Raleway', sans-serif;
  border-collapse: collapse;
  width: 90%;
  height: 418px;
  width: 980px
  
  
}


td, th {
  border: 1px;
  text-align: center;
  padding: 0;
  font-size: 13px;
  border-left: 2px solid #6b6b6b;
  border-right: 2px solid #6b6b6b;


}
tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: white;
}

tr:hover{
  background-color: rgba(170,170,170,1);
  
}

    list-style-type: none; {
    margin: 0;
    padding: 15px 15px;
    overflow: hidden;
    background-color: #333333;
}

table .tabla-inicio {
  background-color:#6b6b6b;
  font-size: 13px;
  color: white;  

}
table .tabla-fin{
  background-color:#6b6b6b ;
  font-size: 12px;
  color: white; 
  height: 20px; 

}




ul.pagination {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6b6b6b;
    overflow: hidden;
    margin: 15px 280px;
    width:  400px;
    height: 22px;
    
}

ul.pagination li {display: inline;}

ul.pagination li a {

    color: #fff;
    font-family: 'Raleway-Regular', 'Raleway', sans-serif;
    font-size: 13px;
    padding: 7px 28px;
    text-decoration: none;
    margin:auto;
}

ul.pagination li a.active {
    background-color: #6d000e;
    color: white;
  
}

ul.pagination li a:hover {background-color: rgb(163,0,20);}

div.center {text-align: center;}


footer {
  position: relative;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-around;
  width: 1024px;
  height: 58px;
  background-color: rgba(242, 243, 244, 0.92);
}

.footer--div1-img {
  border-width: 0px;
  position: absolute;
  left: 30px;
  top: 17px;
  width: 100px; 
  height: 29px;
}

.footer-img1{
  width: 100px; 
  height: 29px;
}

.footer--div2-img {
  border-width: 0px;
  position: absolute;
  left: 940px;
  top: 5px;
  width: 132px;
  height: 15px;
  display: flex;
}

.footer--titleT1 {
  display: flex;
  flex-direction: row;
  width: 298px;
  height: 20px;
  margin-left: 148px;
  justify-content: space-around;
}

.footer--text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 880px;
  height: 30px;
  bottom: 5px;
}

.footer--textT1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  height: 30px;
  left: 72px;
  margin-left: 85px;
  justify-content: space-around;
}

.footer--textT2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  height: 30px;
  margin-left: 85px;
  justify-content: space-around;
}

.footer--title1 {
  display: flex;
  font-family: 'Raleway-Regular', 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: #071e33;
}

.footer--text1 {
  display: flex;
  font-family: "Raleway-Regular", "Raleway", sans-serif;
  font-style: normal;
  font-size: 1rem;
  color: #7f7f7f;
}

