@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /*LOGIN*/
  --color-bloque-header: #071e33;
  --color-image: #ffffff;
  --color-block-form: rgba(255, 255, 255, 0.92);
  --color-elements-form: #acabab;
  --color-bloque-footer: #f2f3f4;
  --color-hover-elements-form: #071e33;
  --text-header-title: #ffffff;
  --text-element-form: #7f8c9d;
  --text-element-form-2: #333333;
  --text-title-footer: #071e33;
  --text-footer: #7f7f7f;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  display: flex;
  width: 1024px;
  height: 85px;
  background-color: var(--color-bloque-header);
  margin: 0 auto;
}

.header--div--img-1 {
  width: 137px;
  display: flex;
  justify-content: flex-start;
}

.header--div--img-1 img{
  width: 132px;
  height: 39px;
  margin: 23px auto 23px 11px;
}

.header--div--img-2 {
  width: 132px;
  display: flex;
  justify-content: flex-start;
}

.header--div--img-2 img{
  width: 75px;
  height: 73px;
  margin: 6px auto 6px 7px;
  background-color: var(--color-image);
  border-radius: 50px;
}

.header--Title {
  width: 755px;
}

.header--Title p {
  font-size: 2.5rem;
  font-family: 'Poppins-Regular', 'Poppins', sans-serif;
  color: var(--text-header-title);
  text-align: center;
  line-height: normal;
  margin: 27px auto;
}

.main--container {
  width: 920px;
  height: 472px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-block-form);
  margin: 8px auto auto 51px;
}

.main--container--form {
  height: 368px;
  display: flex;
  justify-content: center;
}

.main--form {
  width: 400px;
  height: 359px;
  margin-top: 9px;
}

.main--form button {
  width: 160px;
  border-radius: 4px;
  background-color: var(--color-elements-form);
  box-sizing: border-box;
  font-size: 1.3rem;
  font-family: 'Raleway-Regular', 'Raleway', sans-serif;
  color: var(--text-header-title);
  text-align: center;
  line-height: normal;
}

.main--form button:hover  {
  background-color: var(--color-hover-elements-form);
}

.main--form input {
  width: 400px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid var(--color-hover-elements-form);
  background-color: var(--color-image);
  box-sizing: border-box;
  font-size: 1.3rem;
  font-family: 'Raleway-Light', 'Raleway Light', 'Raleway', sans-serif;
  font-weight: 200;
  color: var(--text-element-form);
  text-align: left;
  padding-left: 4px;
}

.main--form select {
  width: 400px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid var(--color-hover-elements-form);
  background-color: var(--color-image);
  box-sizing: border-box;
  font-size: 1.3rem;
  font-family: 'Raleway-Light', 'Raleway Light', 'Raleway', sans-serif;
  font-weight: 200;
  color: var(--text-element-form);
  padding-left: 4px;
}

.main--form--container--button {
  height: 32px;
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
}

.main--form--input {
  height: 56px;
  display: flex;
  flex-direction: column;
}

.main--form--label-1 {
  height: 22px;
  font-size: 1.3rem;
  font-family: 'Poppins-Regular', 'Poppins', sans-serif;
  color: var(--text-element-form);
  text-align: left;
  line-height: normal;
  margin: 5px auto auto 1px;
}

.main--form--label-2 {
  height: 22px;
  display: flex;
  justify-content: flex-end;
}

.main--form--label-2 p {
  font-size: 1.3rem;
  font-family: 'Poppins-Light', 'Poppins Light', 'Poppins', sans-serif;
  font-weight: 200;
  color: var(--text-element-form);
  text-align: left;
  line-height: normal;
  margin: 14px 2px auto auto;
}

.main--form--label-3 {
  height: 42px;
  display: flex;
}

.main--form--label-3 p {
  font-size: 1rem;
  font-family: 'Poppins-Regular', 'Poppins', sans-serif;
  color: var(--text-element-form-2);
  text-align: center;
  line-height: normal;
  margin: auto auto 14px 201px;
}

.main--header {
  height: 62px;
  display: flex;
}

.main--header img  {
  width: 260px;
}

.main--header--flecha-1, .main--header--flecha-2 {
  height: 62px;
  width: 225px;
  display: flex;
  position: relative;
}

.main--header--flecha-2 {
  right: 15px;
}

.main--header--flecha-1 div, .main--header--flecha-2 div {
  font-size: 1.6rem;
  font-family: 'Poppins-Regular', 'Poppins', sans-serif;
  color: var(--color-image);
  text-align: left;
  line-height: normal;
  margin-top: 19px;
  display: flex;
  position: absolute;
}

.main--header--flecha--text-1 {
  left: 7px;
}

.main--header--flecha--text-2, .main--header--flecha--text-3 {
  left: 58px;
}

.main--header--flecha--text-4 {
  width: 270px;
  left: 46px;
}

.main--section {
  width: 1024px;
  height: 507px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-image: url("assets/img/u46.jpg");
  background-repeat: no-repeat;
  background-size: 1024px 507px;
}

footer {
  position: relative;
  width: 1024px;
  height: 82px;
  display: flex;
  background-color: var(--color-bloque-footer);
  margin: 8px auto auto auto;
}

.footer--container--1 {
  width: 157px;
  display: flex;
  justify-content: flex-start;
}

.footer--container--1 img{
  width: 132px;
  height: 39px;
  margin: 20px auto auto 11px;
}

.footer--container--2 {
  width: 752px;
}

.footer--Title {
  font-size: 1.3rem;
  font-family: 'Raleway-Light', 'Raleway Light', 'Raleway', sans-serif;
  font-weight: 200;
  color: var(--text-title-footer);
  text-align: left;
  line-height: normal;
  display: flex;
  justify-content: flex-start;
}

.footer--title--1{
  margin: 9px 14px 4px 0;
}

.footer--Text {
  font-size: 1rem;
  height: 14px;
  font-family: 'Raleway-Light', 'Raleway Light', 'Raleway', sans-serif;
  font-weight: 200;
  color: var(--text-footer);
  text-align: left;
  line-height: normal;
  display: flex;
  justify-content: flex-start;
  margin-top: 3px;
  margin-bottom: 3px;
}

.footer--title--2-1{
  width: 282px;
  margin-right: 45px;
}

.footer--title--2-2{
  width: 370px;
}

.footer--container--3 {
  width: 115px;
  display: flex;
  justify-content: flex-start;
}

.footer--container--3 img {
  width: 48px;
  height: 68px;
  margin: 7px 0;
}