:root {
  /*LOGIN*/
  --color-bloque-login: #f3f4f4;
  --title-login: #000000;
  --texto-opc1: #d8d8d8;
  --texto-opc2: #071e33;
  /*Colores UNCOS*/
  --azul-UNCOS: #0081c9;
  --cafe-UNCOS: #72635a;
  --rojo-UNCOS: #d8222a;
  --amarillo-UNCOS: #f4de1e;
  --verde-UNCOS: #009d49;
  --azul-variante-UNCOS: #005c82;
  --cafe-variante-UNCOS: #f5cfb2;
  --rojo-variante-UNCOS: #dd5f15;
  --verde-variante-UNCOS: #a3d783;
  -verde2-variante-uncos: #7a9c49;
  /*Colores Nova*/
  --negro-NOVA: #1a1919;
  --verde-NOVA: #267346;
  --cafe-NOVA: #b0841f;
  --azul-NOVA: #446561;
  --naranja-NOVA: #e7792b;
  --rojo-NOVA: #e0592a;
  --gris-NOVA: #cbcccb;
  --cafe-variante-NOVA: #b0841f;
  --naranja-variante-NOVA: #edaa00;
  --amarillo-variante-NOVA: #f7cf3e;
  --verde-variante-NOVA: #00594e;
  /*Colores UNICHA*/
  --verde-UNICHA: #009949;
  --rojo-UNICHA: #d8222a;
  --negro-UNICHA: #1a1919;
  --verde-variante-UNICHA: #007935;
  --verde2-variante-UNICHA: #255d38;
  --rojo-variante-UNICHA: #d8272e;
  --rojo2-variante-UNICHA: #d00b2c;
  --negro-variante-UNICHA: #3e3934;
  --gris-variante-UNICHA: #535249;
  /*Colores UTM*/
  --rojo-UTM: #cc0033;
  --cafe-UTM: #660000;
  --verde-UTM: #666633;
  --amarillo-UTM: #cccc66;
  --azul-variante-UTM: #0081c9;
  --azul2-variante-UTM: #005c82;
  --cafe-variante-UTM: #f5cfb2;
  --naranja-variante-UTM: #dd5f15;
  --verde-variante-UTM: #a3d783;
  --verde2-variante-UTM: #7a9c49;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  display: flex;
  align-self: start;
  justify-content: center;
  width: 1024px;
  height: 81px;
  text-align: center;
  background-color: var(--color-bloque-login);
  margin: 0 auto;
}

header img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 63px;
  height: 63px;
}

.header--div1-img {
  border-width: 0px;
  position: absolute;
  left: 98px;
  top: 10px;
  width: 63px;
  height: 63px;
  display: flex;
}

.header--div2-img {
  border-width: 0px;
  position: absolute;
  left: 194px;
  top: 10px;
  width: 52px;
  height: 63px;
  display: flex;
}

.header--div3-img {
  border-width: 0px;
  position: absolute;
  left: 277px;
  top: 11px;
  width: 63px;
  height: 62px;
  display: flex;
}

.header--div4-img {
  border-width: 0px;
  position: absolute;
  left: 371px;
  top: 10px;
  width: 54px;
  height: 63px;
  display: flex;
}

.header--div5-img {
  border-width: 0px;
  position: absolute;
  left: 457px;
  top: 8px;
  width: 63px;
  height: 65px;
  display: flex;
}

.header--div6-img {
  border-width: 0px;
  position: absolute;
  left: 551px;
  top: 10px;
  width: 54px;
  height: 63px;
  display: flex;
}

.header--div7-img {
  border-width: 0px;
  position: absolute;
  left: 637px;
  top: 10px;
  width: 60px;
  height: 63px;
  display: flex;
}

.header--div8-img {
  border-width: 0px;
  position: absolute;
  left: 728px;
  top: 10px;
  width: 41px;
  height: 63px;
  display: flex;
}

.header--div9-img {
  border-width: 0px;
  position: absolute;
  left: 801px;
  top: 10px;
  width: 51px;
  height: 63px;
  display: flex;
}

.header--div10-img {
  border-width: 0px;
  position: absolute;
  left: 883px;
  top: 10px;
  width: 42px;
  height: 63px;
  display: flex;
}

.main--title p {
  text-align: center;
  font-family: "Poppins-Regular", "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  color: var(--title-login);
  margin-top: 10px;
  margin-bottom: 10px;
}

.main--section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 404px;
  align-items: center;
}

.main-body {
  position: relative;
  display: flex;
  justify-content: center;
  width: 512px;
  height: 404px;
  text-align: center;
  background-color: var(--color-bloque-login);
  margin: none;
}

.img-main {
  position: relative;
  align-self: flex-start;
  width: 512px;
  height: 404px;
  margin: none;
}

.tex {
  display: flex;
  margin-left: 90px;
  margin-top: 5px;
  width: auto;
  height: auto;
}

.opc--find-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  font-size: 1.3rem;
}

.opc--find {
  display: flex;
  flex-direction: row;
  width: 296px;
  height: 33px;
  margin: 10px auto -9px auto;
  text-align: center;
  align-self: center;
  font-family: "Raleway-Regular", "Raleway", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--texto-opc2);
  background-color: var(--color-bloque-login);
  border: 0px solid;
}

.opc--find:focus {
  outline: none;
}

.opc--find-hide {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  width: 1024px;
  height: auto;
  color: var(--texto-opc1);
  background-color: var(--color-bloque-login);
  margin: 10px auto -9px auto;
  text-align: center;
  align-self: center;
  font-family: "Raleway-Regular", "Raleway", sans-serif;
  font-style: normal;
  font-size: 1rem;
}

.arrow {
  margin-top: 15px;
  margin-left: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1024px;
  height: 82px;
  text-align: center;
  background-color: var(--color-bloque-login);
  margin: 10px auto auto auto;
}

.footer--div1-img {
  border-width: 0px;
  position: absolute;
  left: 10px;
  top: 17px;
  width: 132px;
  height: 15px;
  display: flex;
}

.footer--div2-img {
  border-width: 0px;
  position: absolute;
  left: 940px;
  top: 5px;
  width: 132px;
  height: 15px;
  display: flex;
}

.footer--titleT1 {
  display: flex;
  flex-direction: row;
  width: 450px;
  height: 20px;
  margin-left: 135px;
  justify-content: space-around;
}

.footer--titleT2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 800px;
  height: 20px;
  margin-left: 85px;
  justify-content: space-around;
}

.footer--titleT3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 880px;
  height: 20px;
  margin-left: 85px;
  justify-content: space-around;
}

.footer--titleT4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 800px;
  height: 20px;
  margin-left: 153px;
}

.footer--title1 {
  display: flex;
  font-family: "Raleway-Regular", "Raleway", sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  color: var(--texto-opc2);
}

.footer--title2 {
  display: flex;
  font-family: "Raleway-Regular", "Raleway", sans-serif;
  font-style: normal;
  font-size: 1rem;
  color: var(--texto-opc1);
}

.main-container img {
  width: 139px;
  height: 136px;
  margin-top: 15px;
  margin-bottom: 253px;
}

.main-form {
  position: absolute;
  margin-top: 168px;
}

.main-form input {
  width: 200px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #071e33;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Raleway-Light", "Raleway Light", "Raleway", sans-serif;
  font-weight: 200;
  color: #7f8c9d;
  text-align: left;
}

.main-form select {
  width: 200px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #071e33;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Raleway-Light", "Raleway Light", "Raleway", sans-serif;
  font-weight: 200;
  color: #071e33;
}

.main-form button {
  width: 160px;
  height: 32px;
  border-radius: 4px;
  background-color: #071e33;
  box-sizing: border-box;
  font-family: "Raleway-Regular", "Raleway", sans-serif;
  color: #ffffff;
  text-align: center;
  line-height: normal;
}

