:root {
  /*LOGIN*/
  --color-bloque-login: #f3f4f4;
  --color-bloque-header: #071e33;
  --color-bloque-footer: #f2f3f4;
  --title-login: #000000;
  --texto-opc1: #d8d8d8;
  --texto-opc2: #071e33;
  --texto-opc3: #ffffff;
  --texto-opc4: #7f7f7f;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  display: flex;
  width: 1024px;
  height: 85px;
  background-color: var(--color-bloque-header);
  margin: 0 auto;
}

.header--div--img-1 {
  width: 137px;
  display: flex;
  justify-content: flex-start;
}

.header--div--img-1 img{
  width: 132px;
  height: 39px;
  margin: auto auto 25px 25px;
}

.header--div--img-2 {
  width: 125px;
  display: flex;
  justify-content: flex-start;
}

.header--div--img-2 img{
  width: 75px;
  height: 73px;
  margin: 6px auto 6px 0;
  background-color: white;
  border-radius: 50px;
}

.header--Title {
  width: 750px;
}

.header--Title p {
  font-size: 2.5rem;
  font-family: 'Poppins-Regular', 'Poppins', sans-serif;
  color: #ffffff;
  text-align: center;
  line-height: normal;
  margin: 27px auto;
}

.main--container {
  width: 920px;
  height: 472px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.92);
  margin: 8px auto auto 51px;
}

.main--container--form {
  height: 368px;
  display: flex;
  justify-content: center;
}

.main--form {
  width: 400px;
  height: 359px;
  margin-top: 9px;
}

.main--form button {
  width: 160px;
  border-radius: 4px;
  background-color: #acabab;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-family: 'Raleway-Regular', 'Raleway', sans-serif;
  color: #ffffff;
  text-align: center;
  line-height: normal;
}

.main--form button:hover  {
  background-color: #071e33;
}

.main--form input {
  width: 400px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #071e33;
  background-color: #ffffff;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-family: 'Raleway-Light', 'Raleway Light', 'Raleway', sans-serif;
  font-weight: 200;
  color: #7f8c9d;
  text-align: left;
}

.main--form select {
  width: 400px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #071e33;
  background-color: #ffffff;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-family: 'Raleway-Light', 'Raleway Light', 'Raleway', sans-serif;
  font-weight: 200;
  color: #071e33;
}

.main--form--container--button {
  height: 32px;
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
}

.main--form--input {
  height: 56px;
  display: flex;
  flex-direction: column;
}

.main--form--label-1 {
  height: 22px;
  font-size: 1.3rem;
  font-family: 'Poppins-Regular', 'Poppins', sans-serif;
  color: #071e33;
  text-align: left;
  line-height: normal;
  margin: 5px auto auto 1px;
}

.main--form--label-2 {
  height: 22px;
  display: flex;
  justify-content: flex-end;
}

.main--form--label-2 p {
  font-size: 1.3rem;
  font-family: 'Poppins-Light', 'Poppins Light', 'Poppins', sans-serif;
  font-weight: 200;
  color: #071e33;
  text-align: left;
  line-height: normal;
  margin: 14px 2px auto auto;
}

.main--form--label-3 {
  height: 42px;
  display: flex;
}

.main--form--label-3 p {
  font-size: 1rem;
  font-family: 'Poppins-Regular', 'Poppins', sans-serif;
  color: #333333;
  text-align: center;
  line-height: normal;
  margin: auto auto 14px 201px;
}

.main--header {
  height: 62px;
  display: flex;
}

.main--header img  {
  width: 260px;
}

.main--header--flecha-1, .main--header--flecha-2 {
  height: 62px;
  width: 225px;
  display: flex;
  position: relative;
}

.main--header--flecha-2 {
  right: 15px;
}

.main--header--flecha-1 div, .main--header--flecha-2 div {
  font-size: 1.6rem;
  font-family: 'Poppins-Regular', 'Poppins', sans-serif;
  color: #ffffff;
  text-align: left;
  line-height: normal;
  margin-top: 21px;
  display: flex;
  position: absolute;
}

.main--header--flecha--text-1 {
  left: 20px;
}

.main--header--flecha--text-2, .main--header--flecha--text-3 {
  left: 70px;
}

.main--header--flecha--text-4 {
  width: 270px;
  left: 58px;
}

.main--section {
  width: 1024px;
  height: 507px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-image: url("assets/img/u46.jpg");
  background-repeat: no-repeat;
  background-size: 1024px 507px;
}

footer {
  position: relative;
  width: 1024px;
  height: 82px;
  display: flex;
  background-color: var(--color-bloque-footer);
  margin: 8px auto auto auto;
}

.footer--container--1 {
  width: 157px;
  display: flex;
  justify-content: flex-start;
}

.footer--container--1 img{
  width: 132px;
  height: 39px;
  margin: 20px auto auto 11px;
}

.footer--container--2 {
  width: 752px;
}

.footer--Title {
  font-size: 1.3rem;
  font-family: 'Raleway-Light', 'Raleway Light', 'Raleway', sans-serif;
  font-weight: 200;
  color: #071e33;
  text-align: left;
  line-height: normal;
  display: flex;
  justify-content: flex-start;
}

.footer--title--1{
  margin: 9px 10px 1px 0;
}

.footer--Text {
  font-size: 1rem;
  height: 14px;
  font-family: 'Raleway-Light', 'Raleway Light', 'Raleway', sans-serif;
  font-weight: 200;
  color: #7f7f7f;
  text-align: left;
  line-height: normal;
  display: flex;
  justify-content: flex-start;
  margin-top: 3px;
  margin-bottom: 3px;
}

.footer--title--2-1{
  width: 282px;
  margin-right: 45px;
}

.footer--title--2-2{
  width: 370px;
}

.footer--container--3 {
  width: 115px;
  display: flex;
  justify-content: flex-start;
}

.footer--container--3 img {
  width: 48px;
  height: 68px;
  margin: 7px 0;
}