:root {
  /*LOGIN*/
  --color-bloque-login: #f3f4f4;
  --color-bloque-header: #071e33;
  --title-login: #000000;
  --texto-opc1: #d8d8d8;
  --texto-opc2: #071e33;
  --texto-opc3: #ffffff;
  --texto-opc4: #7f7f7f;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("assets/img/imagen_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1024px;
  height: 114px;
  text-align: center;
  background-color: var(--texto-opc3);
  margin: 0 auto;
}

header img {
  border-width: 0px;
  position: absolute;
}

.header--container--1 {
  height: 82px;
}

.header--container--2 {
  height: 32px;
  opacity: 0.93;
  display: flex;
  flex-direction: row;
}

.header--div0 img {
  width: 75px;
  height: 73px;
  left: 53px;
  top: 4px;
}

.header--div1 img {
  left: 875px;
  top: 3px;
  width: 75px;
  height: 75px;
}

.header--option--1 {
  width: 144px;
  height: 32px;
  background-color: #632a29;
}

.header--option--2 {
  width: 184px;
  height: 32px;
  background-color: #6b6b6b;
}

.header--option--3 {
  width: 144px;
  height: 32px;
  background-color: #6b6b6b;
}

.header--option--4 {
  width: 104px;
  height: 32px;
  background-color: #6b6b6b;
}

.header--option--5 {
  width: 174px;
  height: 32px;
  background-color:#6b6b6b;
  display: flex;
  justify-content: center;
}

.header--container--2 p{
  font-size: 1.4rem;
  font-family: 'Raleway-Regular', 'Raleway', sans-serif;
  color: #f2f2f2;
  text-align: center;
  line-height: normal;
  margin: 6px auto;
}

.header--icon--1 {
  margin: 7px 13px auto 35px;
}

.header--icon--2 {
  margin: 7px 13px auto 13px;
}

.header--option--5 img{
	width: 16px;
  height: 16px;
}

.main--title p {
  text-align: center;
  font-family: "Poppins-Regular", "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem; /*1rem = 10 px*/
  color: var(--title-login);
  margin-top: 26px;
  margin-bottom: 10px;
}

.main--card {
  display: flex;
  height: 115px;
}

.main--card--img {
  width: 202px;
  display: flex;
  justify-content: flex-start;
}

.main--card--img img {
  width: 143px;
  height: 92px;
  margin: 12px auto auto 39px;
}

.main--card--body {
  width: 651px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.main--card--body--Title {
  font-family: 'Poppins-SemiBold', 'Poppins SemiBold', 'Poppins', sans-serif;
  font-weight: 650;
  font-size: 1.3rem;
  color: #333333;
  text-align: left;
  line-height: normal;
  margin-top: 8px;
}

.main--card--body--Subtitle {
  font-family: 'Poppins-Medium', 'Poppins Medium', 'Poppins', sans-serif;
  font-size: 1rem;
  color: #333333;
  text-align: left;
  line-height: normal;
  margin: 3px 0 3px 0;
}

.main--card--body--Text1 {
  font-family: 'Poppins-Regular', 'Poppins', sans-serif;
  font-size: 1rem;
  color: #333333;
  text-align: left;
  line-height: normal;
  margin: 3px 0 0 0;
}

.main--card--body--Text2 {
  font-family: 'Poppins-Regular', 'Poppins', sans-serif;
  font-size: 1rem;
  color: #333333;
  text-align: left;
  line-height: 18px;
  margin: 3px 0 0 0;
}

.main--card--icons {
  width: 171px;
  display: flex;
  flex-direction: column;
}

.main--card-icon--1 {
  height: 58px;
  display: flex;
  justify-content: flex-end;
}

.main--card-icon--1 img{
  width: 16px;
  height: 15px;
  margin: 8px 37px auto auto;
}

.main--card-icon--2 {
  height: 57px;
  display: flex;
  justify-content: flex-start;
}

.main--card-icon--2 img{
  width: 13px;
  height: 16px;
  margin: auto 4px 16px auto;
}

.main-card-icon--Text {
  font-family: 'Poppins-Regular', 'Poppins', sans-serif;
  color: #333333;
  text-align: left;
  line-height: normal;
  margin: auto 39px 16px 4px;
}

.main--container--1 {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1024px;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.92);
  box-sizing: border-box;
  font-family: 'Montserrat-Regular', 'Montserrat', sans-serif;
  color: #333333;
  text-align: center;
  line-height: normal;
}

.main--container--2 {
  position: relative;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #7f8c8d;
  width: 1024px;
  height: 458px;
  background-color: rgba(255, 255, 255, 0.92);
  box-sizing: border-box;
  font-family: 'Montserrat-Regular', 'Montserrat', sans-serif;
  color: #333333;
  text-align: center;
  line-height: normal;
}

.main--container--2::-webkit-scrollbar {
  width: 7px;
}

.main--container--2::-webkit-scrollbar-thumb {
  background: #7f8c8d;
}

.main-form--1 {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  width: 1024px;
  height: 30px;
}

.main-form--2 {
  position: absolute;
  display: flex;
  width: 986px;
  height: 19px;
  margin-top: 38px;
  border-bottom: 1px solid #333333;
}

.main-form--1 input {
  width: 200px;
  height: 30px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #7f8c8d;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: 'Raleway-Regular', 'Raleway', sans-serif;;
  color: #7f8c8d;
  text-align: left;
  line-height: normal; 
  font-size: 12px;
}

.main-form--1 button {
  width: 32px;
  height: 30px;
  border-radius: 0 4px 4px 0;
  border: 1px solid #7f8c8d;
  box-sizing: border-box;
  background-color: #7f8c8d;
}

.main--label--number--offers {
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
  margin: auto auto auto 20px;
  font-family: 'Raleway-Regular', 'Raleway', sans-serif;
  color: #7f8c8d;
  text-align: left;
  line-height: normal;
}

.main--order--info {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  margin: auto auto auto 669px;
  font-family: 'Raleway-Regular', 'Raleway', sans-serif;
  color: #7f8c8d;
  text-align: left;
  line-height: normal;
}

.main--order--info select {
  width: 85px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-size: 1.2rem;
  margin: auto auto auto 16px;
  font-family: 'Raleway-Regular', 'Raleway', sans-serif;
  color: #333333;
  text-align: left;
  line-height: normal;
}

.main--pagination {
  width: 406px;
  height: 22px;
  margin: 6px auto 9px 311px;
  display: flex;
}

.main--pagination div a {
  box-sizing: border-box;
  font-family: 'Poppins-Regular', 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 0.9rem;
  border: 1px solid #555555;
  text-decoration: none;
  background-color: #555555;
}

.main--pagination--opc-1 a {
  padding: 5px 42px 5px 42px;
  background-color: red;
}

.main--pagination--opc-2 a {
  padding: 5px 23px 5px 23px;
  background-color: blue;
}

.main--pagination div a.active {
  background-color: #6d000e;
  border: 1px solid #6d000e;
}

.main--pagination div a:hover:not(.active) {
  background-color: #6d000e;
  border: 1px solid #6d000e;
}

.main--section {
  display: flex;
  flex-direction: column;
  width: 1024px;
  height: 522px;
  margin: 8px auto 0 auto;
}

footer {
  position: relative;
  display: flex;
  width: 1024px;
  height: 58px;
  background-color: rgba(242, 243, 244, 0.92);
  margin: 12px auto auto auto;
}

.footer--container--1 {
  width: 160px;
  display: flex;
  justify-content: flex-start;
}

.footer--container--1 img {
  width: 100px;
  height: 29px;
  margin: 18px auto auto 42px;
}

.footer--container--2 {
  width: 864px;
}

.footer--Title {
  font-size: 1.2rem;
  font-family: 'Raleway-Regular', 'Raleway', sans-serif;
  color: #071e33;
  text-align: left;
  line-height: normal;
  display: flex;
  justify-content: flex-start;
}

.footer--title--1{
  margin: 5px 21px 0 0;
}

.footer--Text {
  font-size: 1rem;
  height: 14px;
  font-family: 'Raleway-Regular', 'Raleway', sans-serif;
  color: #7f7f7f;
  text-align: left;
  line-height: normal;
  display: flex;
  justify-content: flex-start;
}

.footer--title--2-1{
  width: 282px;
  margin: 4px 45px 0 0;
}

.footer--title--2-2{
  width: 370px;
  margin: 4px 0;
}