:root {
  /*LOGIN*/
  --color-bloque-login: rgba(242, 243, 244, 0.92156862745098);
  --title-login: #000000;
  /*Colores UNCOS*/
  --azul-UNCOS: #0081c9;
  --cafe-UNCOS: #72635a;
  --rojo-UNCOS: #d8222a;
  --amarillo-UNCOS: #f4de1e;
  --verde-UNCOS: #009d49;
  --azul-variante-UNCOS: #005c82;
  --cafe-variante-UNCOS: #f5cfb2;
  --rojo-variante-UNCOS: #dd5f15;
  --verde-variante-UNCOS: #a3d783;
  -verde2-variante-uncos: #7a9c49;
  /*Colores Nova*/
  --negro-NOVA: #1a1919;
  --verde-NOVA: #267346;
  --cafe-NOVA: #b0841f;
  --azul-NOVA: #446561;
  --naranja-NOVA: #e7792b;
  --rojo-NOVA: #e0592a;
  --gris-NOVA: #cbcccb;
  --cafe-variante-NOVA: #b0841f;
  --naranja-variante-NOVA: #edaa00;
  --amarillo-variante-NOVA: #f7cf3e;
  --verde-variante-NOVA: #00594e;
  /*Colores UNICHA*/
  --verde-UNICHA: #009949;
  --rojo-UNICHA: #d8222a;
  --negro-UNICHA: #1a1919;
  --verde-variante-UNICHA: #007935;
  --verde2-variante-UNICHA: #255d38;
  --rojo-variante-UNICHA: #d8272e;
  -rojo2-variante-unicha: #d00b2c;
  --negro-variante-UNICHA: #3e3934;
  --gris-variante-UNICHA: #535249;
  /*Colores UTM*/
  --rojo-UTM: #cc0033;
  --cafe-UTM: #660000;
  --verde-UTM: #666633;
  --amarillo-UTM: #cccc66;
  --azul-variante-UTM: #0081c9;
  --azul2-variante-UTM: #005c82;
  --cafe-variante-UTM: #f5cfb2;
  --naranja-variante-UTM: #dd5f15;
  --verde-variante-UTM: #a3d783;
  --verde2-variante-UTM: #7a9c49;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  display: flex;
  align-self: start;
  justify-content: center;
  width: 1024px;
  height: 81px;
  text-align: center;
  background-color: var(--color-bloque-login);
  margin: 0 auto;
}

header img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 63px;
  height: 63px;
}

.header--div1-img {
  border-width: 0px;
  position: absolute;
  left: 98px;
  top: 10px;
  width: 63px;
  height: 63px;
  display: flex;
}

.header--div2-img {
  border-width: 0px;
  position: absolute;
  left: 194px;
  top: 10px;
  width: 52px;
  height: 63px;
  display: flex;
}

.header--div3-img {
  border-width: 0px;
  position: absolute;
  left: 277px;
  top: 11px;
  width: 63px;
  height: 62px;
  display: flex;
}

.header--div4-img {
  border-width: 0px;
  position: absolute;
  left: 371px;
  top: 10px;
  width: 54px;
  height: 63px;
  display: flex;
}

.header--div5-img {
  border-width: 0px;
  position: absolute;
  left: 457px;
  top: 8px;
  width: 63px;
  height: 65px;
  display: flex;
}

.header--div6-img {
  border-width: 0px;
  position: absolute;
  left: 551px;
  top: 10px;
  width: 54px;
  height: 63px;
  display: flex;
}

.header--div7-img {
  border-width: 0px;
  position: absolute;
  left: 637px;
  top: 10px;
  width: 60px;
  height: 63px;
  display: flex;
}

.header--div8-img {
  border-width: 0px;
  position: absolute;
  left: 728px;
  top: 10px;
  width: 41px;
  height: 63px;
  display: flex;
}

.header--div9-img {
  border-width: 0px;
  position: absolute;
  left: 801px;
  top: 10px;
  width: 51px;
  height: 63px;
  display: flex;
}

.header--div10-img {
  border-width: 0px;
  position: absolute;
  left: 883px;
  top: 10px;
  width: 42px;
  height: 63px;
  display: flex;
}

.main--title p {
  text-align: center;
  font-family: "Poppins-Regular", "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  color: var(--title-login);
  margin-top: 10px;
  margin-bottom: 10px;
}

.main--section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 404px;
  align-items: center;
}

.main-body {
  position: relative;
  display: flex;
  justify-content: center;
  width: 512px;
  height: 404px;
  text-align: center;
  background-color: var(--color-bloque-login);
  margin: none;
}

.img-main {
  position: relative;
  align-self: flex-start;
  width: 512px;
  height: 404px;
  margin: none;
}

footer {
  position: relative;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  width: 1024px;
  height: 82px;
  text-align: center;
  background-color: var(--color-bloque-login);
  margin: 10px auto auto auto;
}
